/* Style for AnchorPane */
#ap_username_input {
    -fx-background-color: rgba(252, 230, 87, 0.47); /* Light gray background */
    -fx-padding: 20px;
}

/* Style for TextField */
#tf_username {
    -fx-border-width: 2px;
    -fx-font-size: 14px;
    -fx-background-color: #fffdfd; /* White background */
    -fx-border-color: rgba(252, 181, 87, 0.47); /* Light gray border */
    -fx-border-radius: 5px;
    -fx-font-family: "IRANSansWeb";
    -fx-alignment: center-right;
}

/* Style for Label */
#label {
    -fx-font-size: 16px;
    -fx-text-fill: #333; /* Dark gray text color */
    -fx-font-family: "IRANSansWeb";
}

/* Style for Button */
#button_submit {
    -fx-font-size: 14px;
    -fx-pref-height: 30px;
    -fx-pref-width: 100px;
    -fx-background-color: rgb(107, 45, 34); /* Blue background */
    -fx-text-fill: #fff; /* White text color */
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-family: "IRANSansWeb";
}

/* Hover effect for Button */
#button_submit:hover {
    -fx-background-color: rgb(66, 28, 22); /* Darker blue background on hover */
}